#graph {
    position: relative;
    @include span-columns(5);
    @include media($mobile) {
        @include span-columns(4);
        margin-top: default-spacing(1);
        float: left;
        left: 0;
    }
}

