
@import "styles/base/init";
@import "styles/base/mixins";
@import "styles/base/colours";
@import "styles/base/typography";
@import "styles/components/info";
@import "styles/components/legend";
@import "./styles/components/currency_selector";
@import "styles/components/sunburstHalo";

body, html {
    font-family: 'proxima-nova', Helvetica, Arial;
    background-color: transparent;
    border-top: 1px solid rgba(0,0,0,0.1);
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.vz-arc-plot {
    path {
        transition: opacity 300ms;
    }
}