$line-height: (
  -2: $baseLineHeight,
  -1: $baseLineHeight,
  0: $baseLineHeight,
  1: $baseLineHeight * 1.5,
  2: $baseLineHeight * 2,
  3: $baseLineHeight * 2.5,
  4: $baseLineHeight * 3,
  5: $baseLineHeight * 4,
  6: $baseLineHeight * 4.5,
  7: $baseLineHeight * 5,
  8: $baseLineHeight * 5.5,
  9: $baseLineHeight * 6
);



$type-scale: (
  -2:modular-scale(-2),
  -1:modular-scale(-1),
  0:modular-scale(0),
  1:modular-scale(1),
  2:modular-scale(2),
  3: modular-scale(3),
  4: modular-scale(4),
   5: modular-scale(5),
   7: modular-scale(6),
   8: modular-scale(7),
   9: modular-scale(8)
);


@function line-height($level) {
  @return map-get($line-height, $level);
}

@function type-scale($level) {
  @return map-get($type-scale, $level);
}

@mixin type-setting($level: 0) {
  font-size: type-scale($level);
  line-height: line-height($level);
}


@function default-spacing($modifier: 1) {
    @return $baseLineHeight * $modifier;
}